.MainMenu {
  text-align: right;
  font-size: rem(18);

  @include tablet-and-up {
    padding-bottom: get-spacing();
    margin-bottom: get-spacing();

    @include applyTheme($themes) {
      border-bottom: 1px solid themed('borderColor');
    }
  }
}

.MainMenuLink {
  text-decoration: none;

  @include applyTheme($themes) {
    color: themed('navLinkColor');

    &:visited {
      color: themed('navLinkColor');
    }
  }

  &:not(:first-child) {
    margin-left: get-spacing('double');
  }
}

.MainMenuLinkIsActive {
  transition: color 200ms ease;

  @include applyTheme($themes) {
    color: themed('navActiveLinkColor') !important;
  }
}
