.MainMenu {
  text-align: right;
  font-size: rem(18);

  @include tablet-and-up {
    padding-bottom: get-spacing();
    margin-bottom: get-spacing();

    @include applyTheme($themes) {
      border-bottom: 1px solid themed('borderColor');
    }
  }
}

.MainMenuLink {
  text-decoration: none;

  &:not(:first-child) {
    margin-left: get-spacing('double');
  }
}

.MainMenuLink {
  @include applyTheme($themes) {
    color: themed('navLinkColor');
  }
}

.MainMenuLinkIsActive {
  @include applyTheme($themes) {
    color: themed('navActiveLinkColor');
  }
}
