.MainMenuLink {
  text-decoration: none;

  &:not(:first-child) {
    margin-left: get-spacing('double');
  }
}

.MainMenuLink {
  color: get-color('black');
}

.MainMenuLinkIsActive {
  color: get-color('blue');
}
