.DisplayModeButton {
  padding: get-spacing('half');
  border-radius: get-radius();
  font-size: rem(16);

  @include applyTheme($themes) {
    border: 1px solid themed('borderColor');
    background-color: themed('backgroundColor');
    color: themed('textColor');
  }
}
