.Listing {
  margin-left: 0;
  margin-bottom: get-spacing('double');
  padding-bottom: get-spacing('double');
  list-style: none;

  @include applyTheme($themes) {
    border-bottom: 1px solid themed('borderColor');
  }
}

.ListingPagination {
  display: flex;
  justify-content: space-between;
  padding-bottom: get-spacing('double');

  @include applyTheme($themes) {
    border-bottom: 1px solid themed('borderColor');
  }
}

.NextPostsLink {
  margin-left: auto;
}
