.PostHeading {
  margin-bottom: get-spacing('half');
}

.PostDate {
  text-align: center;
  margin-bottom: get-spacing('double');
  font-size: rem(14);

  @include tablet-and-up {
    margin-bottom: get-spacing('quad');
  }
}

.FeaturedImage {
  margin-bottom: get-spacing('double');
}

.PostContent {
  margin-bottom: get-spacing('double');

  @include applyTheme($themes) {
    border-bottom: 1px solid themed('borderColor');
  }
}
