.ListingItem {
  display: flex;
  font-size: rem(16);
  align-items: center;

  &:not(:last-child) {
    padding-bottom: get-spacing('double');
    margin-bottom: get-spacing('double');
  }

  @include applyTheme($themes) {
    color: themed('textColor');

    &:not(:last-child) {
      border-bottom: 1px solid themed('borderColor');
    }
  }
}

.ListingItemThumbnailWrapper {
  margin-right: get-spacing();
  flex-shrink: 0;

  @include tablet-and-up {
    margin-right: get-spacing('double');
  }
}

.ListingItemThumbnail {
  display: block;
  width: 100px;
  height: 100px;

  @include tablet-and-up {
    width: 150px;
    height: 150px;
  }
}

.ListingItemMeta {
  line-height: 1;
}

.ListingItemLink {
  display: block;
  width: 100%;
  text-decoration: none;
}

.ListingItemTitle {
  margin-bottom: get-spacing('quarter');
  text-decoration: none;
  font-size: rem(22);
  line-height: rem(30);

  @include tablet-and-up {
    font-size: rem(27);
  }

  @include applyTheme($themes) {
    color: themed('linkColor');
  }
}

.ListingItemInfo {
  font-size: rem(14);
}
