.Comments {
  margin-bottom: get-spacing('double');

  @include applyTheme($themes) {
    border-bottom: 1px solid themed('borderColor');
  }
}

.CommentsList {
  list-style-type: none;
  margin-left: 0;
}

.CommentsListItem {
  line-height: 1;
  display: flex;
  margin-bottom: get-spacing('double');
}

.CommentThumbnail {
  width: 90px;
  height: 90px;
}

.CommentThumbnailWrapper {
  display: none;
  flex-shrink: 0;
  margin-right: get-spacing();

  @include tablet-and-up {
    display: block;
  }
}

.CommentDetails {
  word-break: break-word;
  margin-bottom: get-spacing();
  display: inline-block;
}

.CommentDate {
  font-size: rem(14);
}

.CommentContent {
  p:last-child {
    margin-bottom: 0;
  }
}
