.Container {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 get-spacing('double');
}

.Content {
  margin-bottom: get-spacing('double');

  @include applyTheme($themes) {
    border-bottom: 1px solid themed('borderColor');
  }
}
