$colors: (
  'white': #fff,
  'black': #000,
  'blue': #3399cc,
  'blue-dark': #0a699a,
  'blue-mid': #167ac6cc,
  'blue-light': #60caff,
  'gray': #535353,
  'gray-light': #ddd,
  'gray-dark': #1c1f2a,
  'purple': #609,
  'purple-light': #c17ec5,
  'slate': #35373c,
  'green': #108711,
  'green-light': #d4ffd4,
  'dark-purple': #18191e,
);

@function get-color($color) {
  @return map-get($colors, $color);
}

$themes: (
  light: (
    backgroundColor: get-color('white'),
    textColor: get-color('gray'),
    linkColor: get-color('blue'),
    linkHoverColor: get-color('blue-dark'),
    linkVisitedColor: get-color('purple'),
    headingColor: get-color('black'),
    borderColor: get-color('gray-light'),
    navLinkColor: get-color('black'),
    navActiveLinkColor: get-color('blue'),
    buttonTextColor: get-color('white'),
    buttonColor: get-color('black'),
    buttonHoverColor: get-color('gray'),
    inputDisabledBackgroundColor: get-color('gray-light'),
    commentSuccess: get-color('green'),
    commentSuccessBorderColor: get-color('green-light'),
    blockquoteColor: get-color('gray-light'),
    codeBlockBackgroundColor: get-color('gray-dark'),
    codeBlockTextColor: get-color('white'),
  ),
  dark: (
    backgroundColor: get-color('gray-dark'),
    textColor: get-color('white'),
    linkColor: get-color('blue-light'),
    linkHoverColor: get-color('blue'),
    linkVisitedColor: get-color('purple-light'),
    headingColor: get-color('white'),
    borderColor: get-color('slate'),
    navLinkColor: get-color('white'),
    navActiveLinkColor: get-color('blue-light'),
    buttonTextColor: get-color('white'),
    buttonColor: get-color('blue-mid'),
    buttonHoverColor: get-color('blue'),
    inputDisabledBackgroundColor: get-color('dark-purple'),
    commentSuccess: get-color('green'),
    commentSuccessBorderColor: get-color('green-light'),
    blockquoteColor: get-color('white'),
    codeBlockBackgroundColor: get-color('white'),
    codeBlockTextColor: get-color('black'),
  ),
);

// Shoutouts to https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1 😘
@mixin applyTheme($themes: $themes) {
  @each $theme, $map in $themes {
    html[displayMode='#{$theme}'] & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
