$phone-width: rem(321);
$tablet-width: rem(768);
$desktop-width: rem(1360);

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin phone-and-up {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}

@mixin phone-to-tablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-and-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
