// WP Modifiers
.aligncenter {
  text-align: center;
}

.alignwide {
  margin-left: calc(25% - 25vw);
  margin-right: calc(25% - 25vw);
  width: auto;
  max-width: 1000%;
  text-align: center;
}

.alignleft {
  text-align: center;

  @include tablet-and-up {
    float: left;
    margin-right: get-spacing('double');
    margin-bottom: 0;

    > img,
    figcaption {
      margin-bottom: 0;
    }
  }
}

.alignright {
  text-align: center;

  @include tablet-and-up {
    float: right;
    margin-left: get-spacing('double');
    margin-bottom: 0;

    > img,
    figcaption {
      margin-bottom: 0;
    }
  }
}

.embed-container {
  margin-bottom: get-spacing('double');
}

.emoji {
  border: 0;
  width: rem(16);
  height: rem(16);
  vertical-align: baseline;
}

.wp-block-embed__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.wp-block-embed-youtube {
  .wp-block-embed__wrapper {
    border-radius: get-radius();
    overflow: hidden;
  }
}

blockquote {
  font-style: italic;

  cite {
    font-style: italic;
    line-height: 2.2rem;
  }
}

.wp-block-code {
  font-family: monospace;
  padding: get-spacing();
  border-radius: get-radius();
  font-size: rem(14);
  line-height: rem(24);

  // @include applyTheme($themes) {
  //   background: themed('codeBlockBackgroundColor');
  //   color: themed('codeBlockTextColor');
  // }
}

// SMH: Support for old '.sub' classes that I added instead of figcaption 😭
.sub {
  text-align: center;
  margin-bottom: get-spacing('double');
  // margin-top: get-spacing('half');
  margin-top: calc(#{get-spacing('double')} * -1);
  font-size: 0.9rem;
  line-height: 1.5rem;
}
