.Header {
  display: flex;
  flex-direction: column;
  padding: get-spacing('double') 0;
  margin-bottom: get-spacing('quad');
  border-bottom: get-border();
  align-items: center;

  @include tablet-and-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

.Heading {
  @include visually-hidden;
}

.Logo {
  display: block;
  width: rem(150);
  height: rem(150);
  margin: 0;
}

.HeaderHomeLink {
  margin-bottom: get-spacing();
  display: block;
  flex-shrink: 0;

  @include tablet-and-up {
    margin-bottom: 0;
  }
}

.HeaderDescription {
  display: none;
  font-family: 'Noto Serif';
  font-weight: normal;
  color: get-color('gray');
  font-size: rem(16);

  @include tablet-and-up {
    display: block;
  }
}
