.Header {
  display: flex;
  flex-direction: column;
  padding: get-spacing() 0;
  margin-bottom: get-spacing('double');
  align-items: center;

  @include tablet-and-up {
    flex-direction: row;
    justify-content: space-between;
    padding: get-spacing('double') 0;
    margin-bottom: get-spacing('quad');
  }

  @include applyTheme($themes) {
    border-bottom: 1px solid themed('borderColor');
  }
}

.Heading {
  @include visually-hidden;
}

.Logo {
  opacity: 0;
  width: rem(150);
  height: rem(150);
  margin: 0;
  transition: opacity 300ms ease;
}

.LogoIsLoaded {
  opacity: 1;
}

.HeaderHomeLink {
  margin-bottom: get-spacing();
  display: block;
  flex-shrink: 0;

  @include tablet-and-up {
    margin-bottom: 0;
  }
}

.HeaderDescription {
  display: none;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: rem(14);
  text-transform: uppercase;

  @include tablet-and-up {
    display: block;
  }

  @include applyTheme($themes) {
    color: themed('textColor');
  }
}
